<!DOCTYPE html>

<html>
<head>
    <!-- INSERT OR EDIT AFTER TIPS -->
    <!-- edit -->
    <title>Anna And Sarah</title>
    <!-- fixed -->
    <meta name="robots" content="index,follow,noodp,noydir" />
    <!-- edit -->
    <meta name="description" content="your main description here." />
    <!-- edit -->
    <meta name="keywords" content="your perfect keywords here." />
    <!-- edit -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- edit -->
    <meta charset="UTF-8" />
    <!-- edit -->
    <meta http-equiv="content-language" content="en-US" />
    <!-- edit -->
    <meta name="language" content="english" />
    <!-- fixed -->
    <meta name="rating" content="general" />
    <!-- edit -->
    <meta name="copyright" content="Copyright:annasarah.com" />
    <!-- fixed -->
    <meta http-equiv="cleartype" content="on" />
    <!-- fixed -->
    <meta name="MobileOptimized" content="320" />
    <!-- fixed -->
    <meta name="HandheldFriendly" content="True" />
    <!-- fixed -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- fixed -->
    <meta name="theme-color" content="#5d852d" />
    <!-- fixed -->
    <meta name="msapplication-navbutton-color" content="#5d852d">
    <!-- fixed -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#5d852d">
    <!-- fixed -->
    <meta property="og:image" itemprop="image primaryImageOfPage" content="~/images/favicon-3.png" />
    <!-- edit -->
    <meta property="og:locale" content="en_EN" />
    <!-- fixed -->
    <meta property="og:type" content="website" />
    <!-- edit -->
    <meta property="og:url" content="http://www.annaandsarah.com" />
    <!-- edit -->
    <meta property="og:description" content="Your share description here." />
    <!-- edit -->
    <meta property="og:title" content="Your share title here." />
    <!-- edit -->
    <meta property="og:site_name" content="Anna And Sarah" />
    <!-- edit -->
    <meta property="article:publisher" content="https://www.facebook.com/annaandsarahfacebookpage" />
    <!-- edit -->
    <meta property="fb:admins" content="facebook page id" />
    <!-- edit -->
    <meta property="article:section" content="post" />
    <!-- fixed -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- edit -->
    <meta name="twitter:title" content="Your share title here.">
    <!-- edit -->
    <meta name="twitter:description" content="Your share description here.">
    <!-- fixed -->
    <meta name="twitter:image" content="~/images/favicon-2.png">
    <!-- edit -->
    <link rel="author" href="annaandsarah google plus page" />
    <!-- fixed -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <!-- fixed -->
    <link rel="icon" type="image/png" href="~/images/favicon-1.png" />
    <!-- fixed -->
    <link rel="apple-touch-icon image_src" href="~/images/favicon-3.png" />
    <!-- end! -->
    <!-- libs -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- HTML 5 IE SUPPORT HACKS -->
    <!--[if lte IE 9]><script src="../../Scripts/ie.js"></script><![endif]-->
</head>
<body>
    <div id="page_body">
        <header role="banner" class="header" id="header">
            <div id="navigationMask">
                <nav role="navigation" class="navigation" id="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <a id="logo" href="~/Home" title="Anna&Sarah">
                                    <img class="img-responsive center-block" src="~/images/logo-1.png" alt="Anna and sarah" />
                                </a>
                            </div>
                            <div class="col-sm-9">
                                <div class="clearfix">
                                    <ul class="nvg-1">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                <div class="hidden-xs hidden-ms">All products <span class="caret"></span></div>
                                                <div class="visible-xs-block visible-ms-block clearfix"><span class="navbar-menu-1"><span class="icon-bar top-bar"></span><span class="icon-bar middle-bar"></span><span class="icon-bar bottom-bar"></span></span></div>
                                            </a>
                                            <ul class="dropdown-menu dropdown-navigation">
                                                <li class="nuts"><a href="~/Home/Category/Nuts" title="Nuts"><img style="width:90px;" src="~/images/Categories/@ViewBag.Nuts1" alt="Nuts" />Nuts</a></li>
                                                <li class="fruits"><a href="~/Home/Category/DriedFruit" title="Dried Fruits"><img style="width:90px;" src="~/images/Categories/@ViewBag.DriedFruits1" alt="Dried Fruits" />Dried Fruits</a></li>
                                                <li class="seeds"><a href="~/Home/Category/Seeds_Grains" title="Seeds"><img style="width:90px;" src="~/images/Categories/@ViewBag.Seeds1" alt="Seeds" />Seeds</a></li>
                                                <li class="snacks"><a href="~/Home/Category/Snacks" title="Snacks"><img style="width:90px;" src="~/images/Categories/@ViewBag.Snacks1" alt="Snacks" />Snacks</a></li>
                                                <li class="gifts"><a href="~/Home/Category/Gifts" title="Gifts"><img style="width:90px;" src="~/images/Categories/@ViewBag.Gifts1" alt="Gifts" />Gifts</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Who we are" href="~/Home/WhoWeAre">
                                                <div class="hidden-xs">Who we are</div>
                                                <div class="visible-xs-block clearfix"><span class="glyphicon glyphicon-leaf alone"></span></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Contact us" href="~/Home/ContactUs">
                                                <div class="hidden-xs">Contact us</div>
                                                <div class="visible-xs-block clearfix"><span class="glyphicon glyphicon-send alone"></span></div>
                                            </a>
                                        </li>
                                        <li><a href="~/Home/BlogList">Blog</a></li>
                                    </ul>
                                </div>
                                <p class="description breeserif text-right">Bringing you the flavors of the world.</p>
                            </div>
                        </div>
                    </div>
                </nav>
                <span class="tree"></span>
            </div>
            <aside role="complementary" class="header-aside pager-head" id="header-aside">
                <div class="container psre">
                    <div id="annaANDsarah">
                        <div class="hand anna"></div>
                        <div class="hand sarah left"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="page-header-title breeserif">
                                @ViewBag.Category
                            </h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="header-table">
                                <div>
                                    <ul class="socialnetwork clearfix">
                                        <li class="email"><a href="~/Home/ContactUs" title="Email" data-toggle="tooltip" data-placement="top"></a></li>
                                        <li class="instagram"><a href="https://www.instagram.com/anna.and.sarah/" target="_blank" title="İnstagram" data-toggle="tooltip" data-placement="top"></a></li>
                                        <li class="twitter"><a href="https://twitter.com/Anna_and_Sarah" target="_blank" title="Twitter" data-toggle="tooltip" data-placement="top"></a></li>
                                        <li class="facebook"><a href="https://www.facebook.com/annaandsarah/" target="_blank" title="Facebook" data-toggle="tooltip" data-placement="top"></a></li>
                                    </ul>
                                    @Html.Partial("search", null)                                   
                                </div>
                            </div>
                            <div id="targetDiv">

                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </header>
        @RenderBody()
        <hr />
        <footer role="contentinfo" class="footer" id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <ul class="col-sm-4 list-unstyled">
                                <li><h4><a href="#" title="Shop">Shop</a></h4></li>
                                <li><a href="~/Home/Category/DriedFruit">Dried Fruits</a></li>
                                <li><a href="~/Home/Category/Nuts">Nuts</a></li>
                                <li><a href="~/Home/Category/Seeds_Grains">Seeds</a></li>
                                <li><a href="~/Home/Category/Gifts">Gifts</a></li>
                                <li><a href="~/Home/Category/Snacks">Snacks</a></li>
                            </ul>
                            @*<ul class="col-sm-4 list-unstyled">
                                    <li><h4>Customer Service</h4></li>
                                    <li><a href="">Terms & Conditions</a></li>
                                    <li><a href="">Shipping Policy</a></li>
                                    <li><a href="">Return Policy</a></li>
                                    <li><a href="">Privacy Policy</a></li>
                                </ul>*@
                            <div class="col-sm-4">
                                <ul class="list-unstyled">
                                    <li><h4>Anna And Sarah</h4></li>
                                    <li><a href="~/Home/WhoWeAre">About Us</a></li>
                                    <li><a href="~/Home/ContactUs">Contact Us</a></li>
                                    @*<li>Follow Us</li>*@
                                </ul>
                                <ul class="footer-socialnetwork socialnetwork clearfix">
                                    <li class="email"><a href="~/Home/ContactUs" title="Email" data-toggle="tooltip" data-placement="top"></a></li>
                                    <li class="instagram"><a href="https://www.instagram.com/anna.and.sarah/" target="_blank" title="İnstagram" data-toggle="tooltip" data-placement="top"></a></li>
                                    <li class="twitter"><a href="https://twitter.com/Anna_and_Sarah" title="Twitter" target="_blank" data-toggle="tooltip" data-placement="top"></a></li>
                                    <li class="facebook"><a href="https://www.facebook.com/annaandsarah/" title="Facebook" target="_blank" data-toggle="tooltip" data-placement="top"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="media">
                                <h4>100% Statis Faction Guarentee</h4>
                                <div class="media-left media-middle">
                                    <img class="media-object" src="~/images/customersatisfaction-footer.png" title="100% Statis Faction Guarentee" alt="customer satisfaction" height="100" />
                                </div>
                                <div class="media-body">
                                    <p><br />"We bring you the best quality of flavors and the healthiest tastes all around the world!"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-copyright">
                <div class="container">
                    <div class="media col-sm-6">
                        <div class="media-left media-middle">
                            <a href="http://www.annaandsarah.com">
                                <img class="media-object" src="~/images/favicon-1.png" title="www.annaandsarah.com" alt="Copyright Anna And Sarah" height="35" />
                            </a>
                        </div>
                        <div class="media-body">
                            <p><span>&copy;</span> Copyright 2015 Anna And Sarah &reg;. All rights reserved.</p>
                            @*<div><a style="padding-left:5px;">Privacy Policy</a> <a style="padding-left:8px;">Terms & Conditions</a></div>*@
                        </div>
                        @*<div class="media-right media-middle">
                                <a href="http://www.onurboz.com" class="dbobc" target="_blank">
                                    <img class="media-object" src="~/images/onurboz-logo.png" title="Designed by onurboz.com" alt="www.onurboz.com" height="35" />
                                </a>
                            </div>*@
                    </div>
                    @*<div class="col-sm-6">
                            <img src="~/images/cards.png" alt="cards" class="img-responsive center-block" />
                        </div>*@
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="~/Scripts/main.js"></script>
    </div>    
</body>
</html>
