@using (Html.BeginForm("categoryblog", "Home"))
{
    <h4 class="widgettitle breeserif">Category</h4>
        <ul class="list-unstyled">
            @foreach (var item in Model)
            {
                <li><a href="~/Home/BlogList/@item.Category.CName">@item.Category.Cid @*<span class="badge pull-right">19</span>*@</a></li>
            }            
        </ul>
}