<!DOCTYPE html>
<html>
<head>
    <!-- INSERT OR EDIT AFTER TIPS -->
    <!-- edit -->

    <title>Anna And Sarah</title>
    <!-- fixed -->
    <meta name="robots" content="index,follow,noodp,noydir" />
    <!-- edit -->
    <meta name="description" content="your main description here." />
    <!-- edit -->
    <meta name="keywords" content="your perfect keywords here." />
    <!-- edit -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- edit -->
    <meta charset="UTF-8" />
    <!-- edit -->
    <meta http-equiv="content-language" content="en-US" />
    <!-- edit -->
    <meta name="language" content="english" />
    <!-- fixed -->
    <meta name="rating" content="general" />
    <!-- edit -->
    <meta name="copyright" content="Copyright:annasarah.com" />
    <!-- fixed -->
    <meta http-equiv="cleartype" content="on" />
    <!-- fixed -->
    <meta name="MobileOptimized" content="320" />
    <!-- fixed -->
    <meta name="HandheldFriendly" content="True" />
    <!-- fixed -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- fixed -->
    <meta name="theme-color" content="#5d852d" />
    <!-- fixed -->
    <meta name="msapplication-navbutton-color" content="#5d852d">
    <!-- fixed -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#5d852d">
    <!-- edit -->
    <meta property="og:image" itemprop="image primaryImageOfPage" content="../../images/favicon-3.png" />
    <!-- edit -->
    <meta property="og:locale" content="en_EN" />
    <!-- fixed -->
    <meta property="og:type" content="website" />
    <!-- edit -->
    <meta property="og:url" content="http://www.annaandsarah.com" />
    <!-- edit -->
    <meta property="og:description" content="Your share description here." />
    <!-- edit -->
    <meta property="og:title" content="Your share title here." />
    <!-- edit -->
    <meta property="og:site_name" content="Anna And Sarah" />
    <!-- edit -->
    <meta property="article:publisher" content="https://www.facebook.com/annaandsarahfacebookpage" />
    <!-- edit -->
    <meta property="fb:admins" content="facebook page id" />
    <!-- edit -->
    <meta property="article:section" content="post" />
    <!-- fixed -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- edit -->
    <meta name="twitter:title" content="Your share title here.">
    <!-- edit -->
    <meta name="twitter:description" content="Your share description here.">
    <!-- edit -->
    <meta name="twitter:image" content="../../images/favicon-2.png">
    <!-- edit -->
    <link rel="author" href="annaandsarah google plus page" />
    <!-- edit -->
    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <!-- edit -->
    <link rel="icon" type="image/png" href="../../images/favicon-1.png" />
    <!-- edit -->
    <link rel="apple-touch-icon image_src" href="../../images/favicon-3.png" />
    <!-- end! -->
    <!-- libs -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.bpopup.min.js"></script>
    <!-- HTML 5 IE SUPPORT HACKS -->
    <!--[if lte IE 9]><script src="../../Scripts/ie.js"></script><![endif]-->
</head>
<body>
    @RenderBody()   
</body>
</html>
