@using (Html.BeginForm("deneme3", "Home"))
{
    <li class="nuts"><a href="~/Home/Category/Nuts" title="Nuts"><img style="width:90px;" src="~/images/Categories/@ViewBag.Nuts1" alt="Nuts" />Nuts</a></li>
    <li class="fruits"><a href="~/Home/Category/DriedFruit" title="Dried Fruits"><img style="width:90px;" src="~/images/Categories/@ViewBag.DriedFruits1" alt="Dried Fruits" />Dried Fruits</a></li>
    <li class="seeds"><a href="~/Home/Category/Seeds_Grains" title="Seeds"><img style="width:90px;" src="~/images/Categories/@ViewBag.Seeds1" alt="Seeds" />Seeds</a></li>
    <li class="snacks"><a href="~/Home/Category/Snacks" title="Snacks"><img style="width:90px;" src="~/images/Categories/@ViewBag.Snacks1" alt="Snacks" />Snacks</a></li>
    <li class="gifts"><a href="~/Home/Category/Gifts" title="Gifts"><img style="width:90px;" src="~/images/Categories/@ViewBag.Gifts1" alt="Gifts" />Gifts</a></li>
}