@model AnnaAndSarahWeb.Models.tblCategory

@{
    ViewBag.Title = "DeleteCategory";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>DeleteCategory</h2>

<h3>Are you sure you want to delete this?</h3>
<div>    
    @using (Html.BeginForm()) {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "GetMainProductList")
        </div>
    }
</div>
