
@{
    ViewBag.Title = "Onay";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="callout  @ViewBag.Class">
    <h4>@ViewBag.Sonuc</h4>
    <p>
        @ViewBag.Metin listesine gitmek için <a href="~/Manage/@ViewBag.LinkOnay"> tıklayınız...</a>
    </p>
</div>




