@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/AltSayfa.cshtml";
}
<section role="main" class="main main-category" id="main">
    <div id="category" class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="current-category-product">
                    <div class="current-product-figure psre">
                        <h2 class="breeserif current-product-name style">Organic Raw Almonds</h2>
                        <img src="~/images/products/raw-almonds-organic.jpg" alt="Raw Almonds" class="current-product-img img-responsive center-block" />
                        <ul class="current-product-badges list-inline list-unstyled clearfix">
                            <li class="st1 col-xs-3">
                                <div>4%</div>
                                <h4>Vitamin A</h4>
                            </li>
                            <li class="st2 col-xs-3">
                                <div>1%</div>
                                <h4>Vitamin C</h4>
                            </li>
                            <li class="st3 col-xs-3">
                                <div>7%</div>
                                <h4>Fe</h4>
                            </li>
                            <li class="st4 col-xs-3">
                                <div>28g</div>
                                <h4>Weight</h4>
                            </li>
                        </ul>
                        <div class="current-product-details clearfix">
                            <div class="text-right clearfix"><span class="breeserif fs30 pull-left">In Stock: 12</span><a href="#" class="btn btn-success breeserif"><span class="glyphicon glyphicon-shopping-cart"></span> Buy From Amazon</a></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="breeserif fs24">Ingredients:</h3>
                                    <p>Organic Almonds, Salt</p>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="breeserif fs24">Country of origin:</h3>
                                    <p>United States</p>
                                </div>
                            </div>
                            <span class="label label-info">Resealable Bag</span>
                            <span class="label label-info">Certified Organic</span>
                            <span class="label label-warning">Lightly Salted</span>
                            <div>
                                <h3 class="breeserif fs24">Nutrition Facts:</h3>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr class="active">
                                            <th><strong>Serving Size</strong></th>
                                            <th></th>
                                            <th>100g</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="info">
                                            <th>Amount Per Serving</th>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th>Calories</th>
                                            <td><strong>241</strong></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <td>Calories from fat</td>
                                            <td>5</td>
                                        </tr>
                                        <tr class="info">
                                            <th>% Daily Values</th>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Total Fat</th>
                                            <th>0.51g</th>
                                            <th>1%</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Saturated Fat: 0.02g</strong></td>
                                            <td>0%</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Trans Fat: 0g</td>
                                            <td>0%</td>
                                        </tr>
                                        <tr>
                                            <th>Cholesterol</th>
                                            <th>0mg</th>
                                            <th>0%</th>
                                        </tr>
                                        <tr>
                                            <th>Sodium</th>
                                            <th>10mg</th>
                                            <th>0%</th>
                                        </tr>
                                        <tr>
                                            <th>Total Carbonhydrate</th>
                                            <th>61.3g</th>
                                            <th>21%</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Dietary Fiber: 7.3g</td>
                                            <td>29%</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Sugar: 54g</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Protein</th>
                                            <th>3.4g</th>
                                            <th></th>
                                        </tr>
                                        <tr class="success">
                                            <th>Vitamin A</th>
                                            <th></th>
                                            <th>72%</th>
                                        </tr>
                                        <tr class="success">
                                            <th>Vitamin C</th>
                                            <th></th>
                                            <th>2%</th>
                                        </tr>
                                        <tr class="success">
                                            <th>Calcium</th>
                                            <th></th>
                                            <th>6%</th>
                                        </tr>
                                        <tr class="success">
                                            <th>Iron</th>
                                            <th></th>
                                            <th>15%</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a id="show-more-detail" title="Show more detail" href="#show-more-detail" class="breeserif"><span>Show More</span></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <h2 class="breeserif current-product-name">Varieties</h2>
                <section>
                    <div id="product-category-menu" class="wh-4">
                        <ul class="list-unstyled list-inline clearfix">
                            <li>
                                <a href="#" style="background-image:url('../../images/product-category-menu/nuts.jpg')">
                                    <span>Organic Raw</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="background-image:url('../../images/product-category-menu/dried_fruits.jpg')">
                                    <span>Blached & Sliced</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="background-image:url('../../images/product-category-menu/seeds.jpg')">
                                    <span>In Shell</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="background-image:url('../../images/product-category-menu/snacks.jpg')">
                                    <span>Sliced</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                                    <span>Raw</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                                    <span>Roasted & Salted</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="parent-categorys">
    <div class="container">
        <div class="clearfix">
            <h2 class="breeserif current-product-name">All Nuts</h2>
            <div id="product-category-menu">
                <ul class="list-unstyled list-inline clearfix">
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/nuts.jpg')">
                            <span><a href="#">Almonds</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/dried_fruits.jpg')">
                            <span><a href="#">Brazil Nuts</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/seeds.jpg')">
                            <span><a href="#">Cashwes</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/snacks.jpg')">
                            <span><a href="#">Corn Nuts</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                            <span><a href="#">Green Peas</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                            <span><a href="#">Hazel Nuts</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                            <span><a href="#">Macadamias</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                            <span><a href="#">Mixed Nuts</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                            <span><a href="#">Pistachio</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div style="background-image:url('../../images/product-category-menu/gifts.jpg')">
                            <span><a href="#">Walnuts</a></span>
                            <ul>
                                <li><a href="#">Sliced</a></li>
                                <li><a href="#">Blanched</a></li>
                                <li><a href="#">Raw</a></li>
                                <li><a href="#">In Shell</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
