@{
    Layout = "~/Views/Shared/AltSayfa.cshtml";
}

<section role="main" class="main" id="main">
    <div class="main-page-content clearfix">
        <div id="w-w-a-c-s" class="start">
            <div class="cs-2"></div>
            <div class="cs-1 active in">
                <div class="container container-narrow">
                    <h1 class="breeserif text-info text-center">OUR PROMISE</h1>
                    <p class="text-center fw300">
                        <span class="breeserif text-orange">We do care you.</span>
                        <span>We are here to bring you the best quality and the freshest flavors of the nature into your bag and onto your plate.</span>
                        <span class="breeserif text-orange">We care about your health.</span>
                        <span>We have been collecting only the natural and untouched tastes, processing them in the best and the most hygienic way without any concern and packaging them by American standards.</span>
                        <span class="breeserif text-orange">We care about the nature.</span>
                        <span>We have been using the resources of nature in the most effective way for building a sustainable world for our children.</span>
                    </p>
                </div>
            </div>
            <div class="wwacs-fake">
                <div class="container container-narrow">
                    <h1 class="breeserif text-info text-center">OUR MISSION</h1>
                    <p class="text-center fw300">
                        <span class="breeserif text-orange">Bringing you the flavors of the world.</span>
                        <span>In a globalized reality where we all live, customers deserve more. Based on this principle, a group of people experienced in international trading, decided in 2004 to create Anna and Sarah in order to make true the vision they had; “Bringing you the flavors of the world”</span>
                        <br /><br /><span>The mission of Anna and Sarah is selecting and collecting the best quality, natural and organic Nuts, Fruits, Seeds and Herbs from the farms all around the world, packaging them with a modern technology and bringing you by American standards with their original flavors.</span>
                    </p>
                </div>
            </div>
            <div class="cs-3">
                <div class="container container-narrow">
                    <h1 class="breeserif text-info text-center">OUR VISION</h1>
                    <p class="text-center fw300">
                        <span>Providing a healthy life for our customers by collecting the freshest tastes and natural flavors with being responsible to our world by building sustainability and make people smile.</span>
                        <br /><br /><span class="breeserif text-orange">It is amazing what Mother Nature offers us and we are glad to offer these miracles to you.</span>
                    </p>
                </div>
            </div>
            <ul><li class="cs-1-alt active"></li><li class="cs-2-alt"></li><li class="cs-3-alt"></li></ul>
        </div>
        <img src="~/images/natural-mega.jpg" class="img-responsive img-circle center-block natural-mega" />
        <div id="fruid-mega">
            <div class="containers">
                <h3 class="breeserif">Bringing you the flavors the world.</h3>
            </div>
        </div>
        <div class="container">
            <img src="~/images/our-values-bottom.png" alt="Our Values" title="Our Values" class="img-responsive center-block" />
        </div>
    </div>
</section>
