@model HaberPortal.Models.tbl_PortalHaber_Tip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_PortalHaber_Tip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tip_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip_Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tip_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
